examples/flow-flix-balances.json
{
  "name": "Flow FLIX example",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3f6ab82c-6cab-46e5-bf78-704e5d7034ac",
              "leftValue": "={{ $json.id }}",
              "rightValue": "067a84fb7254ad5d9953d3bfbb552c9375009f80abd283b4a7ff4e781a95b73f",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -860,
        -140
      ],
      "id": "12384a61-7a0d-436f-873a-bc9e15a75d97",
      "name": "Filter by template ID",
      "alwaysOutputData": false
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -640,
        -140
      ],
      "id": "1eca1bf2-0c8a-402a-a324-5927b8d09148",
      "name": "Limit"
    },
    {
      "parameters": {
        "url": "https://gist.githubusercontent.com/imajus/8036a6590b01e1fa2516b25808c24f00/raw/2751067a6c1e891e50c9565db991572376691e7a/flix-manifest.json",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1080,
        -140
      ],
      "id": "1be598e3-a9ff-414a-bec5-b1042f42c227",
      "name": "Fetch FLIX templates"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1300,
        -140
      ],
      "id": "fc275f74-eae2-45d4-9f00-33d332f3e6f5",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "template": "={{ JSON.stringify($json) }}",
        "options": {
          "argsList": {
            "items": [
              {
                "value": "0xae491da231ebeebc"
              },
              {
                "value": "={{ false }}"
              }
            ]
          }
        }
      },
      "type": "@majus/n8n-nodes-web3.flowChainQuery",
      "typeVersion": 1,
      "position": [
        -420,
        -140
      ],
      "id": "2d487f8f-a97a-43e0-b459-7254e3f7b534",
      "name": "Flow - Query",
      "credentials": {
        "flowChainApi": {
          "id": "5TugyXBZtzf9DVBi",
          "name": "Flow Blockchain account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Filter by template ID": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch FLIX templates": {
      "main": [
        [
          {
            "node": "Filter by template ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Flow - Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Fetch FLIX templates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "41713387-e9e6-4fa1-9d22-6844d7f6ec1c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9a127041ab2c0a456c612db2c737ce582ec8f8dd14205bcdca991d2585b3c019"
  },
  "id": "eXHj1Eg68X4c5T16",
  "tags": []
}